.headerContainer {
  display: flex;
  align-items: center;

  width: 100%;
  max-width: 1480px;
  height: 5rem;
  margin: 0 auto;
  margin-top: 1rem;
  padding: 0 1.5rem;
}

.customInput,
.customInput:focus {
  outline-style: inherit;
}

.avatar {
  display: flex;
  align-items: center;
  margin-left: auto;
}
